[Desktop Entry]
Version=1.0
Name=RedNotebook
GenericName=Journal
Comment=Daily journal with calendar, templates and keyword searching
Exec=com.github.jendrikseipp.rednotebook-elementary
Icon=rednotebook
Terminal=false
Type=Application
Categories=Utility;
Keywords=Journal;Diary;Notes;Notebook;
StartupNotify=true
X-GNOME-Gettext-Domain=rednotebook
